.container {
    display:flex;
    padding: 300px;

}

.resultsbutton {
    border: solid black;
    border-radius: 1em;
    background-color: #52796f;
    flex: 1;
    margin-right: 40px;
}
.resultstitle {
   font-family: 'PT Sans', sans-serif;
   font-size: 1.2em;
   color: white; 
   padding: 5px;  
}

.resultssubtitle {
    font-family: 'PT Sans', sans-serif;
    font-size: 0.8em;
    color: white; 
    padding: 5px; 
}

.testingbutton {
    border: solid black;
    border-radius: 1em;
    background-color: #2f3e46;
    flex: 2;
    
}

.testingtitle {
   font-family: 'PT Sans', sans-serif;
   font-size: 1.2em;
   color: white;
   padding: 5px; 
}

.testingsubtitle {
    font-family: 'PT Sans', sans-serif;
    font-size: 0.8em;
    color: white;  
    padding: 5px; 
}