.thetitle {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5em;
    border-bottom: solid black;
    text-align: center;
    padding: 2em;
    background-color: #84a98c;
 
      
 }
 
 .menuicon {
     float:left;   
 
    
 }